
body{
	background: #EAF4AF;
	width: 100%;
}
#header{
	width: 100%;
	height: auto;
	background: #888;
	border-bottom: solid 1px #333;
	position: relative;
	background-image:linear-gradient(yellow, green);
}

#logo{
	width: 200px;
	height: 60px;
	margin: 20px 40px;
}

#ressources{
	height: 50px;
	margin: 25px 20px;
	width: 500px;
}

#ressources span{
	margin:0 10px;
}
#navbar{
	position: relative;
	min-height: 500px;
	background: #111;
	border-right:solid 1px #679042;
	border-bottom:solid 1px #679042;
}

#navbar .navClose{
	position: absolute;
	bottom: 20px;
	left:50%;
}

#navbar .navClose a{
	font-size: 30px;
	color:#fff;
}

.linkLeft{
	list-style: none; /* enleve les puces */
	padding:10px;
}
.linkLeft a{
	color: #fff;
}

#content{
	background: #CCC;
	margin-top:20px;
}

